openai==1.50.0
toml==0.10.2
chromadb==0.5.9
langchain==0.3.2
langchain_core==0.3.9
langchain_openai==0.2.2
langchain_community==0.3.1
langchain_chroma==0.1.4
gpt4all==2.8.2
pypdf==5.0.0
docx2txt==0.8
PyMuPDF==1.24.10
arcgis==2.3.1
pandasai==2.0.24